<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Little Friends</title>
        <meta name="description" content="Little Friends ...">
        <meta name="viewport" content="device = device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/edit_userinfo.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../templates/js/profile.js"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
          <div class="row">
            <div class="col-2">
              <!-- left menu -->
              {% include 'menu.html' %}
            </div>
            <!-- main part -->
            <div class="col-10" >
              <div class="col-12">
                <label class="user_photo">
                  <img class="avatar" src="../templates/img/rab.jpg" alt="Avatar">
                  <input type="file" accept="image/jpeg,image/png,image/jpeg" hidden>
                </label>
                <center><input clas="brand" value="Pet_Name"></input></center>
                <div class="info_form">
                  <form class="col-12" method="post">
                    <div class="form-group row">
                      <label for="staticDate_of_birth" class="col-sm-2 col-form-label">Дата Народження</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control-plaintext" name="date_of_birth" value="xx-xx-xxxx">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticPhone" class="col-sm-2 col-form-label">Порода/Вид</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control-plaintext" name="breed" value="Xxxxx">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticAddress" class="col-sm-2 col-form-label">Уподобання</label>
                      <div class="col-sm-10">
                      <textarea class="form-control-plaintext" wrap="soft" rows="7" maxlength="500" placeholder="Уподобання..." name="preferences" value="Like/Doesn't like" readonly required></textarea>
                      </div>
                    </div>
                    <div class="clearfix">
                      <p id="p3_hidden">Видалити улюбленця</p>
                      <div class="d-flex justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" onclick="return confirm('Чи дійсно ви хочете видалити улюбленця?')" onmouseover="show_del()" onmouseout="show_del()" type="button" width="2em" height="2em" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                        </svg>
                        <button type="submit" class="btn btn-dark" name="button">Зберегти</button>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </body>
</html
