<!DOCTYPE html>
<html>

    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Little Friends</title>
      <meta name="description" content="Little Friends ...">
      <meta name="viewport" content="device = device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
      <link rel="stylesheet" type="text/css" href="../../static/css/new_pet.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

      <!-- <script type="text/javascript" src="../../static/js/new_pet.js"></script> -->

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    </head>
    <body>
      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            <!-- left menu -->
            {% include 'menu.html' %}
          </div>
          <!-- main part -->
              <div class="col-10" >
                <form class="col-12" method="post">
                  <label id="petavatar">
                    <svg class="avatar" id="pet_photo" width="8em" height="8em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="#3b3f43" xmlns="http://www.w3.org/2000/svg">
                      <path  fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                    <input type="file" accept="image/jpeg,image/png,image/jpeg" hidden>
                  </label>
                  <input class="form-control" type="text" maxlength="128" minlength="3" placeholder="Введіть ім'я..." name="full_name" required>
                  <div class="info_form">
                    <input class="form-control" type="text" maxlength="20" minlength="3" placeholder="Вид/порода..." name="breed" required>
<!-- maxlength?-->  <textarea class="form-control" wrap="soft" rows="7" maxlength="500" placeholder="Уподобання..." name="preferences" required></textarea>
                    <center><button type="submit" class="btn btn-dark" name="button">Додати</button></center>
                  </div>
                </form>
              </div>

    </body>
</html>
