<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Little Friends</title>
        <meta name="description" content="Little Friends ...">
        <meta name="viewport" content="device = device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    </head>
    <body>
        <link rel="import" href="home/about.html">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <!-- left menu -->
                    {% include 'menu.html' %}
                </div>
                <div class="col-10">

                    <!--user isn`t logged in-->
                    <div class="row">
                        <div class="col-12">
                            <h1 class="brand-not">Little Friends</h1>
                            <hr>
                        </div>
                    </div>
                    <!--end user isn`t logged in-->

                    <!--user is logged in-->
                    <!-- user photo -->

                    <img class="avatar" src="../static/img/rub.jpg" alt="Avatar">

                    <!-- top menu -->
                    <div class="top-menu">
                        <div class="overlay">
                        <div class="row">
                            <div class="col-4 text-right">
                                <label class="lab-hash" for="hashtag">Хештеги:</label>
                            </div>
                            <div class="col-6">
                                <!--hashtags-->
                                    <select class="js-example-basic-multiple form-control" id="hashtag" name="states[]" multiple="multiple">
                                        <option value="">Шукаю</option>
                                        <option value="">Пропоную</option>
                                        <option value="">Alabama</option>
                                        <option value="">Wyoming</option>
                                    </select>
                                    <script src="../static/js/select.js"></script>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!--end user is logged in-->

                    <div class="row">
                        <div class="announcement col-md-3">

                            <!-- announcement -->
                            <div class="row">
                                <div class="col-4">
                                     <img src="/static/img/rub.jpg" class="user-img"/>
                                </div>
                                <div class="col-8">
                                    <h2>User</h2>
                                    <p>00:17</p>
                                </div>
                            </div>
                            <div class="row">
                                <img src="/static/img/800846.jpg" class="img-fluid">
                                <p>sdfghjkl;'sdfghjkl;'sdfghjkl;sdfghjk</p>
                                
                                <!--user is logged-->
                                <a href="/announcements/1" class="announcement-link">Докладніше</a>
                            </div>

                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </body>
</html