<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Little Friends</title>
        <meta name="description" content="Little Friends ...">
        <meta name="viewport" content="device = device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/css/login.css">
        <link rel="stylesheet" type="text/css" href="../static/css/main_reg.css">
        <script src="../static/js/main.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
      <header>
        <div class="logoplace">
          <div class="logo">
            <img src="../static/img/logo-dog.png" height="80px">
          </div>
          <div class="hr"></div>
          <div>
            <h1>LittleFriends</h1>
          </div>
        </div>
      </header>
      <div class="container-fluid">
        <br>
        <br>
        <p>ЛАСКАВО ПРОСИМО</p>
        <form id="regForm" action="" method="post">
          <div class="form">
            <div >E-mail
              <p><input type="email" placeholder="E-mail..." name="email" required></p>
            </div>
            <div>Пароль
              <p><input type="password" placeholder="Введіть пароль..." name="password" required></p>
            </div>
          </div>
        </form>
        <p><button type="submit" class="btn btn-outline-primary" id="proceed-login">Увійти</button></p>
        <p>Ще не маєте акаунта? <a href="/registration">Зареєструйтесь</a>.</p>
      </div>
    </div>
    <script>
      document.querySelector("#proceed-login").onclick = (ev) => {
        document.location.href="/";
      }
    </script>
  </body>
</html>
