<nav class="navbar">
  <div class="row">
    <!-- without h1 if user isn`t logged in -->
    <!-- with h1 if user is logged -->
    <h1><a href="/" class="brand navbar-brand">Little Friends</a></h1>
    <img class="img-fluid" src="/static/img/logo-dog.png" />
  </div>
  <br />
  <hr />
  <div class="row">
    <ul class="nav navbar-nav bd-navbar-nav flex-column">
      <!--user isn`t logged in
            <li class="nav-item">
                <a class="nav-link" href="./login.html">Вхід</a>
            </li>-->

      <!--user is logged-->
      <li class="nav-item">
        <a class="nav-link active" href="/profile">Мій профіль</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/announcements">Мої оголошення</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/messages">Повідомлення</a>
      </li>

      <!--for both-->
      <li class="nav-item">
        <a class="nav-link" href="/about">Про нас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Зворотній зв'язок</a>
      </li>

      <!--user is logged-->
      <li class="nav-item">
        <a
          class="nav-link"
          href="./login.html"
          onclick="return confirm('Чи дійсно ви хочете вийти?')"
          >Вихід</a
        >
      </li>
    </ul>
  </div>
</nav>
